<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1 - Thursday, October 28</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td>Preparation</td>
        <td><a href="https://datacarpentry.org/spreadsheet-ecology-lesson/setup.html">Installation and Data Download</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:00 AM</td>
        <td><a href="https://datacarpentry.org/spreadsheet-ecology-lesson/">Data Organization in Spreadsheets with Annajiat</a></td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>1:00 PM</td>        <!-- time    -->
        <td>End of Day 1</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2 - Friday, October 29</h3>
    <table class="table table-striped">
      <tr>
        <td>Preparation</td>
        <td><a href="https://datacarpentry.org/OpenRefine-ecology-lesson/setup.html">Installation and Data Download</a></td>
      </tr>
      <tr>
        <td>9:00 AM</td>        
        <td><a href="https://datacarpentry.org/OpenRefine-ecology-lesson/">OpenRefine for Data Cleaning with Rebecca</a></td>
      </tr>
      <tr>               
        <td>1:00 PM</td>        
        <td>End of Day 2</td>        
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3 - Thursday, November 4</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Preparation</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/R-ecology-lesson/">Installation and Data Download</a></td>
      </tr>
      <tr>
        <td> 9:00 AM</td>
        <td><a href="https://datacarpentry.org/R-ecology-lesson/01-intro-to-r.html">Introduction to R with Stacey</a></td>
      </tr>
      <tr>
        <td>10:00 AM</td>
        <td>Morning Break</td>
      </tr>
      <tr>
        <td>10:10 AM</td>
        <td><a href="https://datacarpentry.org/R-ecology-lesson/02-starting-with-data.html">Starting with Data with Stacey</a></td>
      </tr>
      <tr>
        <td>11:00 PM</td>       
        <td><a href="https://datacarpentry.org/R-ecology-lesson/03-dplyr.html">Manipulating, Analyzing, and Exporting Data with Stacey</a></td>
      </tr>
      <tr>
        <td>12:00 PM</td>
        <td>Afternoon Break</td>
      </tr>
      <tr>
        <td>12:10 PM</td>
        <td><a href="https://datacarpentry.org/R-ecology-lesson/04-visualization-ggplot2.html">Data visualization with ggplot2 with Stacey</a></td>
      </tr>
      <tr>
        <td> 1:00 PM</td>
        <td>End of Day 3</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4 - Friday, November 5</h3>
    <table class="table table-striped">
      <tr>
        <td>Preparation</td>
        <td><a href="https://datacarpentry.org/sql-ecology-lesson/setup.html">Installations and Data Download</a></td>
      </tr>
      <tr>               
        <td>9:00 AM</td>       
        <td><a href="https://datacarpentry.org/sql-ecology-lesson/">Data Management with SQL with Annajiat & Sanjay</a></td>
      </tr>
      <tr>               
        <td>10:00 AM</td> 
        <td>Morning Break</td>
      </tr>
      <tr>
        <td>10:15 AM</td>
        <td><a href="https://datacarpentry.org/sql-ecology-lesson/01-sql-basic-queries/index.html">Accessing Data with Queries wtih Annajiat & Sanjay</a></td>
      </tr>
      <tr>
        <td>11:00 AM</td>
        <td><a href="https://datacarpentry.org/sql-ecology-lesson/02-sql-aggregation/index.html">Aggregating and Grouping Data with Rebecca</a></td>
      </tr>
      <tr>
        <td>12:00 PM</td>
        <td>Afternoon Break</td>
      </tr>
      <tr>
        <td>12:15 PM</td>
        <td><a href="https://datacarpentry.org/sql-ecology-lesson/03-sql-joins/index.html">Combining Data with Joins with Rebecca</a></td>
      </tr>
      <tr>
        <td>1:00 PM</td>
        <td>End of Day 4</td>
      </tr>
      <tr>
        <td>After the Workshop</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
