<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1 - Thursday, October 28</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:00 AM</td>
        <td><a href="https://datacarpentry.org/spreadsheet-ecology-lesson/">Data Organization in Spreadsheets</a></td>
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2 - Friday, October 29</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00 AM</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/OpenRefine-ecology-lesson/">OpenRefine for Data Cleaning</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3 - Thursday, November 4</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before Starting</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/R-ecology-lesson/">Preparation: Installation and Data Downloads</a></td>
      </tr>
      <tr>
        <td> 9:00 AM</td>
        <td><a href="https://datacarpentry.org/R-ecology-lesson/01-intro-to-r.html">Introduction to R</a></td>
      </tr>
      <tr>
        <td>10:15 AM</td>
        <td>Morning Break</td>
      </tr>
      <tr>
        <td>10:30 AM</td>
        <td><a href="https://datacarpentry.org/R-ecology-lesson/02-starting-with-data.html">Starting with Data</a></td>
      </tr>
      <tr>
        <td>12:00 PM</td>       
        <td><a href="https://datacarpentry.org/R-ecology-lesson/03-dplyr.html">Manipulating, Analyzing, and Exporting Data</a></td>
      </tr>
      <tr>
        <td>12:oo PM</td>
        <td><a href="https://datacarpentry.org/R-ecology-lesson/04-visualization-ggplot2.html">Data visualization with ggplot2</a></td>
      </tr>
      <tr>
        <td> 1:00 PM</td>
        <td>End of Day 3</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4 - Friday, November 5</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00 AM</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/sql-ecology-lesson/">Data Management with SQL</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
