<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1 - Thursday, October 28</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:00 AM</td>
        <td><a href="https://datacarpentry.org/spreadsheet-ecology-lesson/">Data Organization in Spreadsheets</a></td>
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2 - Friday, October 29</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00 AM</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/OpenRefine-ecology-lesson/">OpenRefine for Data Cleaning</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3 - Thursday, November 4</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00 AM</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/R-ecology-lesson/">Introduction to R</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>12:00 PM</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/R-ecology-lesson/">Continuation of R: Data analysis and Visualization</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4 - Friday, November 5</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00 AM</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/sql-ecology-lesson/">Data Management with SQL</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
